CMakeCache.txt
CMakeFiles/
Makefile
bin/
lib/
cmake_install.cmake
.cproject
.project
*.kdev4
.kdev4/
build/
debug/
release/
/docs/html
/docs/latex
gmon.out
*~
.idea/

# Python byte-compiled code
__pycache__/
*.py[cod]

# Microsoft Visual Studio
.vs/
x64/
Win32/
